<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
        integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../style/main.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex">
        <img src="../style/images/bobEsponjaManeiro.jpg" alt="">
        <div class="container-fluid">
                <h1 class="navbar-brand" href="#">DevHub /<br><span> Moggando.</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            </div>
    </nav>

    <main>
        <div class="container d-flex">
            <div class="col-md-3 mt-3">
                <div id="card-user">
                </div>
            </div>
    
            <div class="log col-md-9 mt-3">
                <div id="get-log ">
                    <div class="cria-log container d-flex justify-content-center mt-2">
                        <a href="cad_logs.html" class="btn btn-primary w-50">Cadastrar Log</a>
                      </div>
                      <div id="lerolero" class="container mt-3"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    const url = "http://localhost:3000/metricas-usuario/1";
    
    fetch(url, {
      method: 'GET',
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
    })
    .then(res => res.json())
    .then(data => {
      let metricasHTML = "";
    
      if (Array.isArray(data)) {
        for (const element of data) {
          metricasHTML += `
            <h2 class="text-center mt-3 mb-5">${element.nome}</h2>
            <div class="container">
              <p class="text-center fw-bold">Horas Trabalhadas: ${element.horas_trabalhadas}</p>
              <p class="text-center fw-bold">Total de Logs: ${element.total_logs}</p>
              <p class="text-center fw-bold">Total Bugs: ${element.bugs_corrigidos}</p>
            </div>
          `;
          document.getElementById("card-user").innerHTML = metricasHTML;
        }
      }
    
    
      // Agora busca os logs
      const urlGetLog = "http://localhost:3000/logs";
    
      return fetch(urlGetLog, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        }
      });
    })
    .then(res => res.json())
    .then(data => {
      let logsHTML = "";
    
      if (Array.isArray(data)) {
        for (const element of data) {
          logsHTML += `
            <div class="post-log mb-5"> <p class='categoria'>
                    <div class="cima-card d-flex justify-content-between"><h5>Id Log: ${element.id_user}</h5><h6 class="categoria-logs">${element.categoria}</h6> </div>
                    <div class='mb-3 text-center d-flex justify-content-around'> <div class="dadinhos">${element.horas_trabalhadas}h <br> <p>horas trabalhadas</p></div> <div class="dadinhos">${element.linhas_codigo} <br> <p>linhas de codigo</p> </div> <div class="dadinhos"> ${element.bugs_corrigidos}<br> <p>bugs corrigido</p> </div></div>
                    <div class="baixo-card"> <button><img src="../style/images/hearth.svg" alt="Like"> ${element.likes}</button> </button> <button> <img src="../style/images/comment.svg" alt="Comentário"> ${element.comment} </button></div>
           </div>
          `;
          document.getElementById("lerolero").innerHTML = logsHTML;
        }
      }
    
    })
    .catch(error => console.error("ERROR:", error));
    </script>
    

</html>