input {
    width: 300px !important;
}

.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
main #card-user{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin-right: 20px;
    height: 300px;
    background-color: aliceblue;
}
main #get-log{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin-right: 20px;
    height: 350px;
    background-color: aliceblue;
}

body{
    background-color: rgb(241, 241, 241);
}

.navbar{
    border-bottom: 1px solid rgb(226, 226, 226);
    
}
.navbar h1 span{
    font-weight: bold;
}

main .log{
    background-color: rgb(243, 243, 243);;
    width: 700px;
    height: 250px;
    margin-top: 20px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 20px;
}

main .cardinhos{
    background-color: gray;
    border-bottom: 1px solid black;
}