input {
    width: 300px !important;
}

.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
main #card-user{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin-right: 20px;
    height: 300px;
    background-color: aliceblue;
}
main #get-log{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin-right: 20px;
    height: 350px;
    background-color: aliceblue;
}

body{
    background-color: rgb(241, 241, 241);
}

.navbar{
    border-bottom: 1px solid rgb(226, 226, 226);
    
}
.navbar h1 span{
    font-weight: bold;
}

main .log{
    background-color: rgb(243, 243, 243);;
    margin-top: 20px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 20px;
}

main .cardinhos{
    background-color: gray;
    border-bottom: 1px solid black;
}

main .post-log{
    border: 2px gray solid;
    border-radius: 20px;
    padding: 5px;
    background-color: aliceblue;
}

main .baixo-card button{
    border: 2px gray solid;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 5px;


}

.cima-card{
    border-bottom: 3px solid gray;
    margin-bottom: 5px;
}

.cima-card h6,h5{
    font-weight: bold;
    padding: 5px;
}

.dadinhos{
    background-color: gray;
    color: aliceblue;
    padding: 5px;
    border-radius: 15px;
}